.blog {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr min(70ch, calc(100% - 2rem)) 1fr;
  grid-row-gap: var(--spacing-big);
  width: 100%;
  padding-block: var(--spacing-large);
  margin: auto;

  & > * {
    grid-column: 2;
  }

  .header {
    margin-bottom: var(--spacing-medium);
  }

  article {
    a,
    a:visited {
      color: var(--color-text);
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}
