# Allow access to robots.txt and XML sitemaps
<FilesMatch "^(robots\.txt|.*\.xml)$">
    Allow from all
</FilesMatch>

# Ensure robots.txt and sitemaps are not rewritten by other rules
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/(robots\.txt|sitemap.*\.xml)$ [NC]
RewriteRule ^ - [L]

# Redirect sitemap.xml to sitemap-index.xml for compatibility
RewriteRule ^sitemap\.xml$ /sitemap-index.xml [L,R=301]
